@import "tailwindcss";
@layer utilities {
  .clip-ellipse {
    clip-path: ellipse(118vw 100% at 50% 100%);
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: contain;
}


@keyframes riseUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-rise-up {
  animation: riseUp 1s ease-out;
}


.text-gradient {
  @apply bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent;
}


